@background-color:         #DCDCDC;
@color:                    #333333;

@link-color:               #191921;

@nav-background-color:     #333333;
@nav-color:                #EEEEEE;
@nav-border:               #FFFFFF;
@nav-height:               50px;

@shadow-color:             #333333;

@nav-from:                 #CACACA;
@nav-to:                   #F5F5F5;

@table-zebra:              #FFFFFF;

@color-r:                  #ef2929;
@color-o:                  #fcaf3e;
@color-y:                  #fce94f;
@color-s:                  #e9b96e;
@color-g:                  #8ae234;
@color-b:                  #729fcf;
@color-i:                  #9ba0cf;
@color-v:                  #ad7fa8;
