/**
 *
 */

body, html {
    .cantarell;
    margin:                 0px;
    padding:                0px;
    height:                 100%;
}

.box {
    margin:                 0.8em;
    float:                  right;
    clear:                  both;
    background-color:       #5c3566;
    height:                 100px;
    width:                  100px;
    font-family:            Georgia;
    color:                  #FFFFFF;
    .core {
        width:              100%;
        text-align:         center;
        height:             50%;
        line-height:        50px;
    }
    .element {
        .core;
        font-size:          1.1em;
    }
    .unfinished {
        .core;
        font-size:          2em;
        .total {
            font-size:      0.5em;
        }
    }
}

.header {
    position:               fixed;
    min-height:             75px;
    width:                  100%;
    top:                    0px;
    left:                   0px;
    border-bottom:          1px solid #EAEAEA;
    margin-bottom:          50px;
    box-shadow:             0px 5px 10px #F3F3F3;
    padding-top:            10px;
    background-image:       url(../imgs/bg-xp-w.png);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;

    .title {
        .damion;
        font-size:          3em;
        line-height:        45px;
        text-align:         center;
        padding:            0px;
        margin:             0px;
    }
}

.main {
    width:                  700px;
    margin-left:            auto;
    margin-right:           auto;
}

.container {
    .main;
    margin-top:             120px;
    min-height:             70%;
    background-color:       #FFFFFF;
}

table {
    width:                     100%;
    border-spacing:            0px;
    border-collapse:           collapse;
    border:                    1px solid #999999;
    tr {
        td {
            padding:           5px;
        }
        border-bottom:         1px solid #999999;
    }
    margin-top:                10px;
    margin-bottom:             10px;
}

table.zebra {
    tr:nth-child(2n) {
        background-color:      #F1F1F1;
    }
}

a {
    color:                    #3465a4;
}

pre {
    border:                   1px solid #CCCCCC;
    padding:                  5px;
    border-radius:            5px;
    background-color:         #F4F4F4;
}

h1, h2, h3 {
    .lato;
    margin:                   0px;
    padding:                  0px;
    font-weight:              normal;
}

.foot {
    margin-top:               10%;
    padding-top:              10px;
    border-top:               1px solid #CCCCCC;
    background-color:         #EEEEEE;
    min-height:               20%;
    .fifth {
        ul {
            list-style-type:  none;
            padding:          0px;
            margin:           0px;
        }
        width:                20%;
        float:                left;
        a {
            .damion;
            color:            #333333;
        }
        h1 {
            .damion;
            font-size:        1.2em;
            border-bottom:    1px solid #333333;
            width:            90%;
        }
    }
}

@import "layout.desktop.less";
