{% if jobs.count() != 0 %}
<table class = 'zebra' >
    <tr>
        <th>Job ID</th>
        <th>Builder</th>
        <th>Package</th>
        <th>Queued at</th>
        <th>Finished at</th>
    </tr>
{% for job in jobs %}
    <tr>
        <td>
<a href = '{{url_for('job', job_id=job._id)}}' >{{job._id}}</a>
        </td>
        <td>
<a href = '{{url_for('builder', builder_id=job.builder)}}' >{{job.builder}}</a>
        </td>
        <td>
<a href = '{{url_for('package', package_id=job.package)}}' >{{job.package}}</a>
        </td>
        <td>{{job.queued_at|humanize_date}}</td>
        <td>{{job.finished_at|humanize_date}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
