{% extends "base.html" %}

{% block title %}{{package.name}}/{{package.version}}{% endblock %}

{% block content %}
<h3>{{package.name}}/{{package.version}}</h3>
This package was uploaded {{package.accepted_at|humanize_date}} by
<a href = '{{url_for('user', user_id=user._id)}}'
    >{{user.first_name}} {{user.last_name}}</a>.

{% if closes != [] %}
<h4>Bugs Closed</h4>
    {% for bug in closes %}
<a href = 'http://bugs.debian.org/{{bug}}' >#{{bug}}</a>
    {% endfor %}
{% endif %}

<h4>Changes</h4>
<pre>{{package.changes.Changes}}</pre>

<h4>Builds</h4>
{% include "job_list.html" ignore missing with context %}


<h4>Files</h4>
<table class = 'zebra' >
    <tr>
        <th>Filename</th>
        <th>Size</th>
    </tr>
{% for file in package.changes.Files %}
    <tr>
        <td>{{file.name}}</td>
        <td>{{file.size|humanize_size}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
