{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
            <div class = 'container' ><div class = 'shim' >
                <p>debuild.me is a buildd network, run by friends, to help
                   automagically lint, build and test Debian packages.</p>
                <p>The name comes from the Debian tool of the same name --
                    <a href = 'http://deb.li/JHns' >debuild</a>, which builds
                    Debian packages. Although we don't use `debuild' under the
                    hood, it's still a mighty fitting name.</p>
            </div></div>
{% endblock %}
