{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
            <div class = 'container' ><div class = 'shim' >
                debuild.me is a project, started by
                <a href = 'http://pault.ag/' >Paul Tagliamonte</a> to help
                reduce basic package review workload. It's actually made up
                out of a few projects.

                <h3>Contact</h3>

                <ul>
                    <li><i class="icon-github"></i>
                        <a href = 'http://github.com/paultag' >paultag</a></li>
                    <li><i class="icon-twitter"></i>
                        <a href = 'http://twitter.com/paultag' >@paultag</a></li>
                    <li><i class="icon-envelope-alt"></i>
                        <a href = 'mailto:paultag@debian.org' >paultag@debian.org</a></li>
                </ul>
            </div></div>
{% endblock %}
