{% extends "base.html" %}

{% block title %}{{check.type}}{% endblock %}

{% block content %}

<h1>{{check.type}}</h1>

<a href = '{{url_for('job', job_id=check.job)}}' >job</a>

{% for level in check.data %}
    <a href = '#{{level}}' >{{level}}</a>
{% endfor %}

{% for level in check.data %}
    <h3 id='{{level}}' >{{level}} issues</h3>
    <table class = 'zebra' >
        <tr>
            <th>File</th>
            <th>Tag</th>
            <th>Description</th>
        </tr>
    {% for check in check.data[level] %}
        <tr>
            <td>{{check.file}}</td>
            <td>{{check.tag}}</td>
            <td>{{check.description}}</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}
