{% extends "base.html" %}

{% block title %}{{job.type}} job {{job._id}}{% endblock %}

{% block content %}
<h1>{{job.type}} job</h1>
<a href = '{{url_for('site.package', package_id=job.package)}}' >package link</a>

<h2>checks</h2>

<table id = 'job-results' class = 'zebra' >
    <tr>
        <th>Check Routine</th>
        <th>Rundown</th>
    </tr>
{% for check in checks %}
    <tr class = '{{check.severity}}' >
        <td>
        <a href = '{{url_for('site.check', check_id=check._id)}}' >{{check.type}}</a>
        </td>
        <td>
            {% for thing in check.data.keys() %}
            {{thing}}({{check.data[thing]|length}})
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
