{% extends "base.html" %}

{% block title %}Package Listing{% endblock %}


{% block content %}

<h2>{{package_count}} most recent packages</h2>

<table id = 'package-list' class = 'zebra' >
    <tr>
        <th>Package</th>
        <th>Who?</th>
    </tr>
{% for package in packages %}
    <tr>
        <td><a href = '/package/{{package._id}}'
            >{{package.name}}/{{package.version}}</a></td>
        <td><a href = '/user/{{package.user}}' >{{package.user}}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
