{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>Package Report</h1>
    {{package.source}}/{{package.version}}
    <br />
    <br />
    <br />
    <table class = 'zebra'>
        <tr>
            <th>Job</th>
            <th>Arch</th>
            <th>Suite</th>
            <th>Builder</th>
            <th>Assigned</th>
            <th>Finished</th>
            <th>Reports</th>
        </tr>
        {% for job in package.get_pending_jobs() %}
        <tr>
            <td>{{job.type}}</td>
            <td>{{job.arch}}</td>
            <td>{{job.suite}}</td>
            <td><a href = '/machine/{{job.builder}}' >{{job.builder}}</a></td>
            <td>{{job.assigned_at}}</td>
            <td>{{job.finished_at}}</td>
            <td>
{% for report in job.get_reports() %}
    <a href = '/report/{{report._id}}' >{{report.type}}</a>
{% endfor %}
                </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
