{% extends "base.html" %}

{% block title %}
{{metadata.generator.name}} report for {{sut|package_display}}
{% endblock %}


{% block content %}
<h2>{{sut|package_display}}</h2>

<p>
This run was produced by {{metadata.generator.name}}, version
{{metadata.generator.version}}.
{% if metadata.stats %}
    This run took {{metadata.stats.wallclocktime|seconds_display}} to
    complete.
{% endif %}
A total of {{report.log.results|length}} items were found.
</p>

<h3>Issues found:</h3>

<table id = 'job-results' class = 'zebra' >
    <tr>
        <th>Message</th>
        <th>Where</th>
    </tr>
{% for issue in report.log.results %}
        <tr{% if issue.severity %} class = 'severity-{{issue.severity}}'{% endif %}>
        <td>{{issue.message.text}}</td>
        <td>{{issue|location_display}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
