{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

{% with total, unfinished = package.get_job_status() %}
    <div class = 'box' >
        <div class = 'unfinished' >
            {{unfinished}}<span class = 'total' >/{{total}}</span>
        </div>
        <div class = 'element' >Remain</div>
    </div>
{% endwith %}


    <h1>Package Report</h1>
    The following is information regarding this upload of
    {{package.source}}/{{package.version}}. The following is a list of
    complete reports, pending jobs and completed binary builds.

    <h3>source</h3>
{% with reports = package.get_reports() %}
    {% include "report_list_fragment.html" %}
{% endwith %}

{% for binary in package.get_binaries() %}
    <h3>{{binary.arch}}</h3>
    {% with reports = binary.get_reports() %}
        {% include "report_list_fragment.html" %}
    {% endwith %}
{% endfor %}

    <h2>Pending Jobs</h2>
    {% with jobs = package.get_pending_jobs() %}
        {% include "job_list_fragment.html" %}
    {% endwith %}
{% endblock %}
