{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>Package Report</h1>
    The following is information regarding this upload of
    {{package.source}}/{{package.version}}. The following is a list of
    complete reports, pending jobs and completed binary builds.

    <h2>Reports</h2>
    <table class = 'zebra'>
        <tr>
            <th>What</th>
            <th>Status</th>
            <th>Builder</th>
            <th>Issues</th>
        </tr>
{% for report in package.get_reports() %}
        <tr>
            <td>
                <a href = '/report/{{report._id}}' >{{report.type}}</a>
            </td>
            <td>
                {% if report.failed %}
Failed
                {% else %}
Passed
                {% endif %}
            </td>
            <td>
                {% if report.builder %}
                <a href = '/machine/{{report.builder}}' >{{report.builder}}</a>
                {% endif %}
            </td>
            <td>{{report.report.results|length}}</td>
        </tr>
{% endfor %}
    </table>

    <h2>Jobs</h2>
    <table class = 'zebra'>
        <tr>
            <th>Type</th>
            <th>Arch</th>
            <th>Suite</th>
            <th>Builder</th>
            <th>Assigned at</th>
            <th>Finished at</th>
            <th>Reports</th>
        </tr>
{% for job in package.get_jobs() %}
        <tr>
            <td>{{job.type}}</td>
            <td>{{job.arch}}</td>
            <td>{{job.suite}}</td>
            <td>
                {% if job.builder %}
                <a href = '/machine/{{job.builder}}' >{{job.builder}}</a>
                {% endif %}
            </td>
            <td>{{job.assigned_at|ago}}</td>
            <td>{{job.finished_at|ago}}</td>
            <td>
                {% for report in job.get_reports() %}
                    <a href = '/report/{{report._id}}' >{{report.type}}</a>
                {% endfor %}
            </td>
        </tr>
{% endfor %}
    </table>
    <h2>Binary Builds</h2>
    <table class = 'zebra'>
        <tr>
            <th>Builder</th>
            <th>Arch</th>
            <th>Debs</th>
        </tr>
{% for binary in package.get_binaries() %}
        <tr>
            <td>{{binary.builder}}</td>
            <td>{{binary.arch}}</td>
            <td>{{binary.binaries}}</td>
        </tr>
{% endfor %}
    </table>

{% endblock %}
