{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>Package Report</h1>
    The following is information regarding this upload of
    {{package.source}}/{{package.version}}. The following is a list of
    complete reports, pending jobs and completed binary builds.

    <h2>Reports</h2>

    <h3>source</h3>
{% with reports = package.get_reports() %}
    {% include "report_list_fragment.html" %}
{% endwith %}

{% for binary in package.get_binaries() %}
    <h3>{{binary.arch}}</h3>
    {% with reports = binary.get_reports() %}
        {% include "report_list_fragment.html" %}
    {% endwith %}
{% endfor %}

    <h2>Jobs</h2>
    <table class = 'zebra'>
        <tr>
            <th>Type</th>
            <th>Arch</th>
            <th>Suite</th>
            <th>Builder</th>
            <th>Assigned at</th>
            <th>Finished at</th>
            <th>Reports</th>
        </tr>
{% for job in package.get_jobs() %}
        <tr>
            <td>{{job.type}}</td>
            <td>{{job.arch}}</td>
            <td>{{job.suite}}</td>
            <td>
                {% if job.builder %}
                <a href = '/machine/{{job.builder}}' >{{job.builder}}</a>
                {% endif %}
            </td>
            <td>{{job.assigned_at|ago}}</td>
            <td>{{job.finished_at|ago}}</td>
            <td>
                {% for report in job.get_reports() %}
                    <a href = '/report/{{report._id}}' >{{report.type}}</a>
                {% endfor %}
            </td>
        </tr>
{% endfor %}
    </table>

{% endblock %}
