{% extends "base.html" %}

{% block title %}{{user.first_name}}'s home{% endblock %}

{% block content %}
<div class = 'profile' >
    <img
     class = 'picture'
     src = 'http://www.gravatar.com/avatar/{{user.contact.email|md5hash}}?s=75&r=r'
     alt = '' />
    <div class = 'name' >
        <b>{{user.first_name}} {{user.last_name}}</b><br />
        {{user.contact.email}}
    </div>
    <div class = 'clear' ></div>
</div>

{% if packages.count() == 0 %}
<h5>no uploads</h5>
{% else %}
{% include "package_list.html" ignore missing with context %}
{% endif %}

{% if builders.count() == 0 %}
<h5>no builders</h5>
{% else %}
{% include "builder_list.html" ignore missing with context %}
{% endif %}
{% endblock %}
